mode: standalone

replicas: 1

resources:
  requests:
    cpu: 250m
    memory: 512Mi
  limits:
    cpu: "1"
    memory: 1Gi

persistence:
  enabled: true
  size: 10Gi

service:
  type: LoadBalancer
  port: "9000"

consoleService:
  type: LoadBalancer
  port: "9001"
